@using TP_Retention_EFDM.ViewModel;
@using System.Collections.Generic;
@model List<EmployeeOnRiskViewModel>

<style type="text/css">
    #tabStripDetails {
        font-size: 13px;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {

        HeadCounts.EmployeeRisksDetails(@ViewData["Employee_Ident"]);

        HeadCounts.EmployeeReportDetails(@ViewData["Employee_Ident"]);

        HeadCounts.EmployeeBarometersDetails(@ViewData["Employee_Ident"], 3);

        HeadCounts.EmployeeBarometersDetails(@ViewData["Employee_Ident"], 4);

        HeadCounts.EmployeeBarometersDetails(@ViewData["Employee_Ident"],1);

        $("#ModalEmployeeRisksEditor").kendoWindow({
            width: "735px",
            height: "785px",
            title: "Edit Risk",
            modal: true,
            visible: false
        });

        $("#ModalEmployeeRisksAdd").kendoWindow({
            width: "735px",
            height: "650px",
            title: "Add Risk",
            modal: true,
            visible: false
        });

        $("#ModalEmployeeRisksView").kendoWindow({
            width: "735px",
            height: "785px",
            title: "View Risk",
            modal: true,
            visible: false
        });

        $("#ModalEmployeeReportEditor").kendoWindow({
            width: "735px",
            title: "Edit Report",
            modal: true,
            visible: false
        });

        $("#ModalEmployeeReportAdd").kendoWindow({
            width: "735px",
            title: "Add Report",
            modal: true,
            visible: false
        });

        $("#ModalEmployeeReportPrint").kendoWindow({
            width: "735px",
            title: "Export Report",
            modal: true,
            visible: false
        });

        $("#ModalEmployeeReportRemove").kendoWindow({
            width: "400px",
            title: "Remove Report",
            modal: true,
            visible: false
        });

        $("#ModalEmployeeNeutralEditor").kendoWindow({
            width: "735px",
            height: "785px",
            title: "Edit Neutral",
            modal: true,
            visible: false
        });

        $("#ModalEmployeeNeutralAdd").kendoWindow({
            width: "735px",
            height: "650px",
            title: "Add Neutral",
            modal: true,
            visible: false
        });

        $("#ModalEmployeeNeutralView").kendoWindow({
            width: "735px",
            height: "785px",
            title: "View Neutral",
            modal: true,
            visible: false
        });

        $("#ModalEmployeeSatisfiedEditor").kendoWindow({
            width: "735px",
            height: "785px",
            title: "Edit Satisfied",
            modal: true,
            visible: false
        });

        $("#ModalEmployeeSatisfiedAdd").kendoWindow({
            width: "735px",
            height: "650px",
            title: "Add Satisfied",
            modal: true,
            visible: false
        });

        $("#ModalEmployeeSatisfiedView").kendoWindow({
            width: "735px",
            height: "785px",
            title: "View Satisfied",
            modal: true,
            visible: false
        });

        $("#ModalEmployeeNAEditor").kendoWindow({
            width: "735px",
            height: "785px",
            title: "Edit NA",
            modal: true,
            visible: false
        });

        $("#ModalEmployeeNAAdd").kendoWindow({
            width: "735px",
            height: "650px",
            title: "Add NA",
            modal: true,
            visible: false
        });

        $("#ModalEmployeeNAView").kendoWindow({
            width: "735px",
            height: "785px",
            title: "View NA",
            modal: true,
            visible: false
        });
    });

</script>

@(Html.Kendo().TabStrip()
    .Name("tabStripDetails")
    .Items(tabstrip =>
     {
         tabstrip.Add().Text("Risks")
          .Selected(true)
             .Content(@<text>
                <button type="button" id="addRiskButton" class="waves-effect waves-light btn indigo darken-3" onclick="HeadCounts.ModalEmployeeRisksAdd(@ViewData["Employee_Ident"]);"><i class="fa fa-plus-circle"></i> Add Risk</button>

                <div id="gridEmployeeRisksDetails">

                </div>

                <div id="ModalEmployeeRisksEditor">

                </div>

                <div id="ModalEmployeeRisksAdd">

                </div>

                <div id="ModalEmployeeRisksView">

                </div>
            </text>);

 tabstrip.Add().Text("Neutral")
             .Content(@<text>
                <button type="button" id="addNeutralButton" class="waves-effect waves-light btn indigo darken-3" onclick="HeadCounts.ModalEmployeeNeutralAdd(@ViewData["Employee_Ident"]);"><i class="fa fa-plus-circle"></i> Add Neutral</button>

                <div id="gridEmployeeNeutralDetails">

                </div>

                <div id="ModalEmployeeNeutralEditor">

                </div>

                <div id="ModalEmployeeNeutralAdd">

                </div>

                <div id="ModalEmployeeNeutralView">

                </div>
            </text>);

 tabstrip.Add().Text("Satisfied")
             .Content(@<text>
                <button type="button" id="addSatisfiedButton" class="waves-effect waves-light btn indigo darken-3" onclick="HeadCounts.ModalEmployeeSatisfiedAdd(@ViewData["Employee_Ident"]);"><i class="fa fa-plus-circle"></i> Add Satisfied</button>

                <div id="gridEmployeeSatisfiedDetails">

                </div>

                <div id="ModalEmployeeSatisfiedEditor">

                </div>

                <div id="ModalEmployeeSatisfiedAdd">

                </div>

                <div id="ModalEmployeeSatisfiedView">

                </div>
            </text>);


 tabstrip.Add().Text("NA")
             .Content(@<text>
                <button type="button" id="addNAButton" class="waves-effect waves-light btn indigo darken-3" onclick="HeadCounts.ModalEmployeeNAAdd(@ViewData["Employee_Ident"]);"><i class="fa fa-plus-circle"></i> Add NA</button>

                <div id="gridEmployeeNADetails">

                </div>

                <div id="ModalEmployeeNAEditor">

                </div>

                <div id="ModalEmployeeNAAdd">

                </div>

                <div id="ModalEmployeeNAView">

                </div>
            </text>);

         tabstrip.Add().Text("HR Reports")
             .Content(@<text>
                <button type="button" id="addReportButton" class="waves-effect waves-light btn indigo darken-3" onclick="HeadCounts.ModalEmployeeReportAdd(@ViewData["Employee_Ident"]);"><i class="fa fa-plus-circle"></i> Add Report</button>
                <div id="gridEmployeeReportDetails">

                </div>

                <div id="ModalEmployeeReportEditor">

                </div>

                <div id="ModalEmployeeReportAdd">

                </div>

                <div id="ModalEmployeeReportPrint">

                </div>

                <div id="ModalEmployeeReportRemove"></div>
            </text>);
})
)
