@using Kendo.Mvc.UI;
@using Kendo.Mvc.Extensions;
@using TP_Retention.Helpers;

@{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}

<script src="@Url.Js("Class/Risks")"></script>
<script type="text/javascript" src="@Url.Js("Class/HeadCounts")" ></script>

<style type="text/css">
    #divRisksSplitter {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
        height: auto;
    }

    #FiltersRisksPane {
        background-color: white;
    }

    #ContentRisksPane {
        background-color: white;
    }

    .pane-content {
        padding: 0 10px;
    }
</style>

<div id="divRisks">
    @(Html.Kendo().Splitter()
    .Name("divRisksSplitter")
    .Orientation(SplitterOrientation.Horizontal)
    .Panes(panes =>
        {
            panes.Add()
                .HtmlAttributes(new { id = "divRisksSplitterPane" })
                .Size("100%")
                .Collapsible(true)
                .Scrollable(true)
                .Content(
                    Html.Kendo().Splitter()
                        .Name("RisksQueryPanel")
                        .Orientation(SplitterOrientation.Vertical)
                        .HtmlAttributes(new { style = "height: 100%;" })
                        .Panes(queryPanes =>
                            {
                                queryPanes.Add()
                                    .HtmlAttributes(new { id = "FiltersRisksPane" })
                                    .Size("45%")
                                    .Collapsible(true)
                                    .Scrollable(true)
                                    .Content(
                                                @<text>
    @Html.Partial("_FiltersRisks")
    </text>
                                    );

                                queryPanes.Add()
                                    .HtmlAttributes(new { id = "ContentRisksPane" })
                                    .Collapsible(true)
                                    .Scrollable(true)
                                    .Content(
                                            @<text>
    @Html.Partial("_ContentRisks")
    </text>
                                    );
                            }).ToHtmlString()
                    );
        }
        )
    )
</div>
